<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="menu.xsl"?>
<page>
        <!-- @todo в ялеты как-то нужно передавать параметры чтобы получать для каждой страницы специфичный контент. -->
    <yalet id="attractionTopBlock" />
    <yalet id="countryTopBlock" />
    <yalet id="rankingBlock" />
    <yalet id="continentSelectBlock" />
    <yalet id="simpleMenu"/>
    <yalet id="login" />
</page>
